body {
	font-family: "Arial";
}

h1.title {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
}

div#nav {
	text-align: center;
}

	div#nav a {
		font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
		display: inline-block;
		color: black;
		padding: 6px;
		border: solid medium black;
		text-decoration: none;
		width: 200px;
		text-align: center;
	}

		div#nav a:hover {
			background: #888;
			color: white;
		}

.adminContent {
	margin: 20px 0;
	border: solid thin black;
	padding: 5px;
}

div.outerContainer {
	text-align: center;
}

table {
	display: inline-block;
	text-align: left;
	margin: 20px 0;
}

	table th, table td {
		text-align: left;
		width: 150px;
		padding: 0px 10px;
	}

.error {
	color: red;
	text-align: center;
	margin: 10px;
}
